In [18]:
import pandas as pd
from pysentimiento import create_analyzer
import spacy
analyzer = create_analyzer(task="sentiment", lang="en")
emotion_analyzer = create_analyzer(task="emotion", lang="en")
irony_analyzer = create_analyzer(task="irony", lang="en")

In [19]:
df =  pd.read_csv('Climate change_2022-1-17_2022-7-19.csv')

In [20]:
df.describe()

,UserScreenName,UserName,Timestamp,Text,Embedded_text,Emojis,Comments,Likes,Retweets,Image link,Tweet URL
count,9037,9050,9050,9050,9050,2026,6278,8431,8877,9050,9050
unique,6978,7036,9000,8873,9046,1149,280,504,922,4946,9038
top,Inside Climate News,@insideclimate,2022-05-06T23:20:05.000Z,Jordan\n@JordanSprings8\n路\nJun 18,Radiative forcing of #climatechange from the C...,,1,2,9,[],https://twitter.com/sunriseon7/status/15295879...
freq,36,36,3,3,2,47,1862,789,302,3854,2

In [21]:
df

,UserScreenName,UserName,Timestamp,Text,Embedded_text,Emojis,Comments,Likes,Retweets,Image link,Tweet URL
0,Lauren Boebert,@laurenboebert,2022-01-17T23:32:38.000Z,Lauren Boebert\n@laurenboebert\n路\nJan 18,The only solution Ive ever heard the Left pro...,NaN,"1,683","2,259",11.7K,[],https://twitter.com/laurenboebert/status/14832...
1,Catherine,@catherine___c,2022-01-17T22:54:02.000Z,Catherine\n@catherine___c\n路\nJan 17,Climate change doesnt cause volcanic eruption...,NaN,158,64,762,[],https://twitter.com/catherine___c/status/14832...
2,king Keith,@KaConfessor,2022-01-17T23:51:41.000Z,king Keith\n@KaConfessor\n路\nJan 18,Vaccinated tennis ball boy collapses in the te...,NaN,24,118,159,['https://pbs.twimg.com/ext_tw_video_thumb/148...,https://twitter.com/KaConfessor/status/1483225...
3,PETRIFIED CLIMATE PARENT,@climate_parent,2022-01-17T21:42:04.000Z,PETRIFIED CLIMATE PARENT\n@climate_parent\n路\n...,North America has experienced an average winte...,NaN,15,50,158,[],https://twitter.com/climate_parent/status/1483...
4,Thomas Speight,@Thomas_Sp8,2022-01-17T21:10:40.000Z,Thomas Speight\n@Thomas_Sp8\n路\nJan 17,They're gonna do the same with Climate Change ...,,4,24,127,['https://pbs.twimg.com/profile_images/1544171...,https://twitter.com/Thomas_Sp8/status/14831850...
...,...,...,...,...,...,...,...,...,...,...,...
9045,Dr Srijana Mitra Das,@srijanapiya17,2022-07-18T12:08:28.000Z,Dr Srijana Mitra Das\n@srijanapiya17\n路\nJul 18,#ClimateChange is now the greatest story on Ea...,NaN,2,16,24,['https://pbs.twimg.com/profile_images/5140754...,https://twitter.com/srijanapiya17/status/15490...
9046,1%_Better_Every_Day,@jh336405,2022-07-18T00:33:20.000Z,1%_Better_Every_Day\n@jh336405\n路\nJul 18,Replying to \n@jh336405\n @acuna_r\n and 41 ot...,,4,NaN,NaN,['https://pbs.twimg.com/profile_images/1442412...,https://twitter.com/jh336405/status/1548828230...
9047,David Schechter,@DavidSchechter,2022-07-18T21:13:13.000Z,David Schechter\n@DavidSchechter\n路\nJul 18,While Texans are being asked to use less elect...,NaN,3,14,23,['https://pbs.twimg.com/card_img/1549138950475...,https://twitter.com/DavidSchechter/status/1549...
9048,Daily Climate,@TheDailyClimate,2022-07-18T10:15:09.000Z,Daily Climate\n@TheDailyClimate\n路\nJul 18,"Sea levels are rising, and communities are scr...",NaN,NaN,3,NaN,['https://pbs.twimg.com/card_img/1547862999808...,https://twitter.com/TheDailyClimate/status/154...
9049,Robot Enthusiast,@robothusiast,2022-07-18T16:32:53.000Z,Robot Enthusiast\n@robothusiast\n路\nJul 18,UTS creates algae-analysing robot to combat cl...,NaN,NaN,NaN,NaN,['https://pbs.twimg.com/card_img/1549069752219...,https://twitter.com/robothusiast/status/154906...

In [22]:
%%time
df['sentiment'] = df['Embedded_text'].apply(lambda x: analyzer.predict(x))

CPU times: user 2h 20min 3s, sys: 20min 51s, total: 2h 40min 54s
Wall time: 53min 27s

In [23]:
%%time
df['em}otion'] = df['Embedded_text'].apply(lambda x: emotion_analyzer.predict(x))

CPU times: user 2h 17min 9s, sys: 20min 16s, total: 2h 37min 26s
Wall time: 33min 40s

In [27]:
%%time
df['irony'] = df['Embedded_text'].apply(lambda x: irony_analyzer.predict(x))

CPU times: user 2h 9min 38s, sys: 19min 47s, total: 2h 29min 25s
Wall time: 32min 45s

In [28]:
df.to_csv('results2.csv')